body {
    margin: 0;
    overflow: hidden;
}
* {
    box-sizing: border-box;
}

body, html {
    height: 100vh;
}


html {
    font-size: calc(1em - -0.04vw);
    height: 100%;
}


.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}